<div class="card card-style1">
  <div class="card-body">

    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <img src="./assets/img/about-us/about-us.jpg" alt="About Us" class="w-100">
      </div>
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>When people who have high cultural status start to wear new or different clothes, a FASHION TRENDS starts its new journey. People who like or respect these people become influenced by their style and begin providing similarly styled clothes.</p>
          <p>FASHION TREND's forecasting resources help predict trends in the fashion industry. Fashion & trend forecasting is the prediction of mood, behavior and buying habits of the consumer at particular time of season. It is no longer a question of finding your markets or consumers by age, geography or income, but looking into how and what they buy, based on their culture, mood, beliefs, occasion & geographic locations, it is also dependent on fashion cycle and plays a major role in introductory phase of recurring fashion cycles.</p>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0 order-md-2">
        <img src="./assets/img/about-us/our-purpose.jpg" alt="Our Purpose" class="w-100">
      </div>
      <div class="col-md-6 order-md-1">
        <h2>Our Purpose</h2>
        <p>FASHION TRENDS overall has one purpose, i.e. to provide a desirable and appealing product to satisfy customer needs, demands or aspire to have. When successful, this chain results in a sale, because this chain is the integral part of entire process. Every forecast begins with the consumer, by observing the consumer's needs to the marketplace and in the unexpected ways the consumer adjusts the market place to his lifestyle and preferences. Consumer research figures are critical & of utmost importance in decisions about product development, marketing and retailing.</p>
        <ul>
          <li>We all love fashion in our own ways. One of the ways anyone could express themselves is through fashion statements</li>
          <li>A fashion trend is a particular style, or clothing popular at a certain point of time or a particular period of time.</li>
          <li>Enhanced monitoring procedures</li>
          <li>Innovative with potential to please the masses</li>
          <li>What stands out is how people make fashionable clothes very versatile and very in style.</li>
        </ul>
      </div>
    </div>

    <hr class="my-5">

    <h2 class="text-center mb-4">Our Values</h2>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="media">
          <img class="rounded-circle mr-3" src="./assets/img/about-us/serve.jpg" width="64" height="64" alt="We Serve">
          <div class="media-body">
            <h5>We Serve</h5>
            Our customers are the sole arbiter of the value of our products and services. We strive to meet unmet needs and serve the underserved.
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="media">
          <img class="rounded-circle mr-3" src="./assets/img/about-us/run.jpg" width="64" height="64" alt="We Run">
          <div class="media-body">
            <h5>We Run</h5>
            We are in a constant race to success while grappling with rapidly shifting forces. We move faster, better and with more urgency every day.
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="media">
          <img class="rounded-circle mr-3" src="./assets/img/about-us/adapt.jpg" width="64" height="64" alt="We Adapt">
          <div class="media-body">
            <h5>We Adapt</h5>
            Rapid change is the only constant in the digital age of ours. We embrace change, celebrate it and always strive to be a thought leader that influences it.
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="media">
          <img class="rounded-circle mr-3" src="./assets/img/about-us/commit.jpg" width="64" height="64" alt="We Commit">
          <div class="media-body">
            <h5>We Commit</h5>
            Our work is our commitment. We commit to our values, institution, customers and partners. We commit to each other. Above all, we commit to doing the best we can and being the best we are.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="pb-3"></div>
